// Place all the styles related to the says controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.twitter_icon{
  width: 3rem;
  height: 3rem;
}
.a_container{
  display: flex;
}
header{
  width: 3rem;
  border: 1px solid gray;
}
.home{
  border: 1px solid gray;
}
