// Place all the styles related to the says controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  font-size: 62.5%;
}
.twitter_icon{
  width: 60px;
  height: 60px;
}
.a_container{
  display: flex;
  position: relative;
}
header{
  width: 80px;
  border: 1px solid gray;
  height: 100vh;
}
.home{
  border: 1px solid gray;
  width: 100vh;
}
footer{
  position: absolute;
  bottom: 0;
  border: 1px solid gray;
  width: 100vh;
  text-align: center;
}
.tsubuyaku{
  font-size: 2rem;
  text-decoration: none;
  border: 1px solid gray;
  line-height: 50px;
  background-color: skyblue;
  text-align: center;
}
.ichiran{
  border: 1px solid gray;
  width: 100vh;
}
